.fixtures {
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px #777;


    .fixtures-list {
        list-style: none;

        &__item {
            font-size: 1.1rem;
            background-color: lighten(#eee, 10%);
            padding: 1rem;
            box-shadow: 0 1px 3px #777;
            border-radius: 4px;
            width: 100%;
            margin: 0 auto 5px auto;

            display: flex;
            justify-content: center;
        }

        .fixture {
            
            &__homeTeam,
            &__away-team {
                width: 16rem;
            }
            
            &__homeTeam {
                text-align: right;
            }

            &__result {
                margin: 0 0.5rem;
                width: 2rem;
            }
        }
    }
}
