.content {
    grid-area: c;
    padding: 1.5rem 2rem;
    background-color: #eee;

    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: max-content 1fr 1fr;
    grid-gap: 1rem;

    
    @include for-medium-desktop {
        grid-template-columns: max-content 1fr;
    }

    @include for-tablet-portrait {
        display: flex;
        flex-direction: column;
    }

    // @media only screen and (max-width: 600px) {
    //     display: flex;
    //     flex-direction: column;
    // }
}

.js-league-table {
    grid-area: 1 / 1 / 4 / 2;
}
