.content {
    grid-area: c;
    padding: 1.5rem 2rem;
    background-color: #eee;

    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: max-content 1fr 1fr;
    grid-gap: 1rem;

    @media only screen and (max-width: 1640px) {
        grid-template-columns: max-content 1fr;
    }

    @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
    }
}

.js-league-table {
    grid-area: 1 / 1 / 4 / 2;

    @media only screen and (max-width: 600px) {
        width: 100%;
    }
}
